description = "Контактные номера приюта."

[contactList]
==

{% set contacts = contactList.contacts %}

{% if contacts.count %}
    {% for contact in contacts %}
    <div class="col-md-6 contact-card">
        <div class="card-body">
            <h6 class="card-title">{{ contact.name }}</h6>
            <h6 class="card-subtitle mb-2 text-muted small">{{ contact.note|raw }}</h6>
            <ul class="card-text list-unstyled px-3 mx-auto">
            {% for number in contact.numbers %}
                <li class="my-2">
                {% if number.type == 'mobil' %}
                    <i class="mr-2 fas fa-mobile-alt"></i>{{ number.number|phone }}
                    <a class="btn btn-primary btn-sm d-md-none ml-2" role="button" href="tel:%2B7{{ number.number }}">
                        <i class="mr-1 fas fa-phone fa-sm"></i>Call
                    </a>
                {% else %}
                    <i class="mr-2 {{ number.icon }}"></i>{{ number.link|raw }}
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
{% endif %}
