title = "Сделать пожертвование"
url = "/donation"
layout = "default"
description = "Информация по сбору пожртвований."
meta_title = "Сбор пожертвований для приюта"
meta_description = "Информация по сбору пожертваваний для приюта «Рыжики»."
is_hidden = 0

[moneyAccounts]
==

<!--
    @TODO Add plugin for managing donation methods.
-->
<!--
    @CSS Page title + description
    @CSS Page section title
    @CSS Account card item (title: <h6>; text: <p>)
    @CSS Wallet card item (title: <h6>; subtitle: <h6>; text: <btn>)
    @CSS Accent text for recipients fields
-->
<!--
    @COMPONENT: bank account
    @COMPONENT: e-wallet
-->
{% set accounts = moneyAccounts.accounts %}
{% set recipient = moneyAccounts.taxpayer %}

<div class="container">
    <!-- donate.title -->
    <h1 class="page-title">Финансовая помощь</h1>

    <!-- donate.description -->
    <div class="row">
        <div class="col-sm-10 text page-desc">Вы можете помочь приюту одним из ниже перечисленных способов.</div>
    </div>

    <hr>

    <!-- donate.account -->
{% if accounts.bank.count %}
    <h3 class="my-4 page-section-title"><i class="fa fab fa-md fa-dollar-sign"></i> По банковским реквизитам</h3>
    <div class="row justify-content-start text-left">
    {% for bank in accounts.bank %}
        <div class="col-md-6 col-lg-4 card account-card">
            <div class="card-body">
                <h6 class="card-title">{{ bank.bank_name|raw }}</h6>
                <p class="card-text">Р/сч. {{ bank.account }}<br/>БИК {{ bank.bank_id_code }}</p>
            </div>
        </div>
    {% endfor %}

        <hr class="w-100">

        <ul class="col list-group list-group-flush recipient-card">
            <li class="list-group-item border-0 recipient-field"><span class="accent">Получатель</span> {{ taxpayer.fullname|raw }}</li>
            <li class="list-group-item border-0 recipient-field"><span class="accent">ИНН</span> {{ taxpayer.tax_id }}</li>
            <li class="list-group-item border-0 recipient-field"><span class="accent">Наименование платежа</span> {{ taxpayer.purpose|raw }}</li>
        </ul>
    </div>
{% endif %}

    <!-- donate.webmoney -->
{% if accounts.yandex.count or accounts.paypal.count %}
    <h3 class="my-4 page-section-title"><i class="fa fab fa-md fa-wallet"></i> На электронный кошелек</h3>
    <div class="row justify-content-start text-left">
    {% for bank in accounts.yandex %}
        <div class="col-md-6 account-card">
            <div class="card-body">
                <h6 class="card-title">Яндекс.Деньги</h6>
                <h6 class="card-subtitle mb-2 text-muted small">
                    <a href="https://money.yandex.ru/page?id=522764" target="_blank">Соглашение</a> и <a href="https://yandex.ru/support/money/fees-limits/transfers.html" target="_blank">ограничения</a>
                </h6>
                <div class="card-text">
                    Счет: {{ bank.account }} <a href="https://money.yandex.ru/{{ bank.account }}" target="_blank" role="button" class="btn btn-sm btn-primary">Перевести</a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for bank in accounts.paypal %}
        <div class="col-md-6 account-card">
            <div class="card-body">
                <h6 class="card-title">PayPal</h6>
                <h6 class="card-subtitle mb-2 text-muted small">
                    <a href="https://www.paypal.com/ga/webapps/mpp/ua/useragreement-full" target="_blank">Пользовательское соглашение</a>
                </h6>
                <div class="card-text">
                    Счет: {{ bank.account }}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
</div>
