title = "Приют Рыжики"
url = "/"
layout = "default"
description = "Домашняя страница приюта для жевотных Рыжики."
meta_title = "Главная"
meta_description = "Добро пожаловать на наш сайт."
is_hidden = 0

[sickAnimals]
==
{% set sicklist = sickAnimals.animals %}

<div class="container pb-4">
    {% if sicklist.count %}
        <!-- animal.sicklist -->
        <h2 class="animal-health-title">Нам нужна ваша помощь</h2>
        <div class="row justify-content-center mb-4">
            {% for animal in sicklist %}
                <div class="col-md-6">
                    <a href="{{ animal.url }}" class="animal-preview">
                        <span class="ap-caption">
                            <span class="ap-content">
                                <h2>Привер, меня зовут {{ animal.name }}!</h2>
                                <p>Я {{ animal.sexForHumans }}, мне {{ animal.ageForHumans }}.</p>
                            </span>
                        </span>
                        <img class="img-fluid" src="{{ animal.profilePic ?: 'http://placehold.it/200x200' }}">
                    </a>
                </div>
                <div class="col-md-6 animal-health">
                    {{ animal.health_info|raw }}
                    {% if animal.fundraise_url %}
                        <div class="fundraise mt-2">
                            <a href="{{ animal.fundraise_url }}">Сбор средств<a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- home.about -->
    <h3 class="my-4 text-left text-lg-left">О нас</h3>
    <div class="row mb-4">

        <!-- home.about.facilities -->
        <div class="col-lg-5 order-lg-0 text-center mb-lg-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/300x300" alt="">
        </div>
        <div class="col-lg-7 order-lg-1 mt-2 mt-lg-0">
            <p>Краткое изложение о условиях обитания животных в приюте. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
        </div>

        <!-- home.about.medical -->
        <div class="col-lg-5 order-lg-2 text-center mb-lg-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/300x300" alt="">
        </div>
        <div class="col-lg-7 order-lg-3 mt-2">
            <p>Краткое изложение о том как оказывается мед. помощь. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
        </div>

        <!-- home.about.finances -->
        <div class="col-lg-5 order-lg-4 text-center">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/300x300" alt="">
        </div>
        <div class="col-lg-7 order-lg-5 mt-2">
            <p>Краткое изложение о том как расходуются редства. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
        </div>

    </div>

    <div class="w-100 text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel? <a href="{{ 'donate'|page }}" class="text-body underlined">Помочь приюту</a></div>

</div>
