title = "Новости"
url = "/news/:page?"
layout = "default"
description = "Страница со списком новостей, размещаемых на сайте."
meta_title = "Новости благотворительного приюта для животных."
meta_description = "Узнай о последних событиях в нашем благотворительном приюте для животных."
is_hidden = 0

[blogPosts newsList]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "Нет новостей"
sortOrder = "published_at desc"
categoryPage = 404
postPage = "news-post"
==
{% set posts = newsList.posts %}

<div class="container pb-4">

    <!-- news.start -->
    <div class="row">

        <!-- news.posts -->
        <div class="col-lg-10 mx-auto">
        {% for post in posts %}
            <div class="post-preview">
                <h2 class="post-title">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h2>
                <p class="post-meta">опуб. {{ post.published_at|date('d M') }}</p>
                <p class="post-summary">{{ post.summary|striptags }}</p>
            </div>
        {% else %}
            <div class="post-preview">
                <div class="text post-subtitle">{{ noPostsMessage }}</div>
            </div>
        {% endfor %}
        </div>

        <div class="w-100"></div>

        <!-- news.pager -->
        <div class="col-lg-10 mx-auto post-pager">
        {% if posts.lastPage > posts.currentPage %}
            <a class="btn btn-primary float-right" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Вперед &rarr;</a>
        {% endif %}
        {% if posts.currentPage > 1 %}
            <a class="btn btn-primary" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Назад</a>
        {% endif %}
        </div>

    </div>
    <!-- news.end -->
</div>
