title = "Новостной Пост"
url = "/news/post/:slug"
layout = "default"
description = "Страница для отображения содержиния новостной статьи."
meta_title = "Новости благотворительного приюта для животных."
meta_description = "Узнай о последних событиях в нашем благотворительном приюте для животных."
is_hidden = 0

[blogPost newsPost]
slug = "{{ :slug }}"
categoryPage = 404

[socialLikes]
facebook = 1
vk = 1
odnoklassniki = 1
==
<?php
function onEnd() {
    $post = $this->components['newsPost']->post;
    if (!$post) {
        return Redirect::to('/');
    }

    $this['post'] = $post;
    $this->page->title = $this->page->meta_title = $post->title;
}
?>
==
<!--
    @TODO Make rounded fa-symbols popuot on focus.
    @TODO Apply bootstrap styles to news post raw content:
        - <blockquote> - .blockquote
        - <h1>...<h6> - .section-heading
        - <img> - .image-fluid .rounded
    @TODO Maybe if <img> is first item in post raw it should be moved in header with post title.
          If moving isn't option then certanly we need place image before title.
    @TODO Add view carusel for post featured images. Probobal implemntation:
        - create empty <div> for hosting carusel
        - create <img> for all featured images below carusel (see Bootstrap Store Home)
        - mark featured <img> with class .carusel slide
        - add js news post initialization function
        - if news post has only one featured <img> destroy carusel
        - copy .carusel-slide into carusel
    @TODO On small screen hide either carusel or featured images.
    @TODO Published at is pain in the ass, create Twig filter: https://twig.symfony.com/doc/2.x/advanced.html
-->
{% set likelinks = socialLikes.links %}

<style>
    .masthead {padding-bottom: 1rem !important;}
    .masthead .page-title {font-size: 1.5rem !important;}
</style>

<!-- newspost.start -->
<article>
    <div class="container">
        <!-- newspost.start -->
        <div class="row">

            <div class="col-lg-10 mx-auto post-view">
                <!-- newspost.author -->
                <div class="lead clearfix">
                    <p class="float-right post-meta">опуб. {{ post.published_at|date('d M') }}</p>
                {% if likelinks.count %}
                    <ul class="list-inline social-share">
                    {% for name, link in likelinks %}
                        <li class="list-inline-item">
                            <a href="{{ link.url }}" target="_blank" class="social-link" data-socialname="{{ name }}">
                                <span class="fa-stack fa-xs">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="{{ link.icon }} fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                </div>

                <!-- newspost.body -->
                <div class="post-content">
                    {{ post.content_html|raw }}
                </div>
            </div>
        </div>

        <!-- newspost.featured -->
        {% partial 'widgets/bootstrap-carousel' name=post.slug images=post.featured_images %}
    </div>
</article>
<!-- newspost.end -->
