.home-section-title {
  margin: 2rem 0 1rem;
  font-size: 1.5rem;
  @media(min-width:992px) {
    font-size: 1.75rem;
  }
}

.home-section-more {
  font-weight: 700;
  font-size: 0.725rem;
  text-transform: uppercase;
}

.section-about {
}

.section-health {
  .textraw {
    font-size: 0.8rem;
  }
}

.section-news {
  .post-preview {
    padding-bottom: 1.5rem;
    .post-title {
      font-size: 1.25rem;
    }
    .post-summary {
      font-size: 0.85rem;
      margin-top: 0.5rem;
    }
  }
}
