.home-section-more {
  font-weight: 700;
  font-size: 0.725rem;
  text-transform: uppercase;
}

.section-about {
}

.section-animals {
}

.section-health {
  .textraw {
    font-size: 0.8rem;
  }
  .health-desc {
    margin-bottom: 2rem;
  }
  .home-section-more {
    margin-top: -1rem;
  }
  @media(min-width:768px) {
    .health-desc {
      margin-bottom: 1.5rem;
    }
    .home-section-more {
      margin-top: 0 !important;
    }
  }
}

.section-news {
  .post-preview {
    padding-bottom: 1.5rem;
    .post-title {
      font-size: 1.25rem;
    }
    .post-summary {
      font-size: 0.85rem;
      margin-top: 0.5rem;
    }
  }
}
