// Font Mixins
// Site theme fonts
@mixin main-font {
  font-family: 'Ubuntu', $font-family-base;
}

@mixin cursive-font {
  font-family: 'Lobster', $font-family-base;
}

@mixin main-font-alt {
  font-family: 'Cuprum', $font-family-base;
}

// Effect Mixins
@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
