// Styling for the post page
.post-preview {
  > a {
    color: $gray-900;
    &:focus,
    &:hover {
      text-decoration: none;
      color: $primary;
    }
    > .post-title {
      font-size: 1.5em;
      margin-top: 1.25;
      margin-bottom: 0.625em;
    }
    > .post-subtitle {
      font-size: 1em;
      font-weight: 400;
      margin: 0 0 0.625em;
    }
  }
  > .post-meta {
    font-size: 0.875em;
    font-style: italic;
    margin-top: 0;
    color: $gray-600;
    > a {
      text-decoration: none;
      color: $gray-900;
      &:focus,
      &:hover {
        text-decoration: underline;
        color: $primary;
      }
    }
    @include cursive-font;
  }
  @media only screen and (min-width: 768px) {
    > a {
      > .post-title {
        font-size: 1.75em;
      }
    }
  }
}
.text-primary {
  color: $primary !important;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
