description = "Default layout"
==
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% if this.page.description %}{{ this.page.description }}{% else %}{{ this.theme.meta_description }}{% endif %}">
        <meta name="keywords" content="{% if this.page.keywords %}{{ this.page.keywords }}{% else %}{{ this.theme.meta_keywords }}{% endif %}">
        <meta name="title" content="{% if this.page.title %}{{ this.page.title }}{% else %}{{ this.theme.meta_title }}{% endif %}">
        <meta name="author" content="{{ this.theme.website_author }}">

        <!-- favicons -->
        <link rel="apple-touch-icon" href="{{ 'assets/dist/images/favicons/apple-touch-icon.png'|theme }}" sizes="180x180">
        <link rel="icon" href="{{ 'assets/dist/images/favicons/favicon-32x32.png'|theme }}" sizes="32x32" type="image/png">
        <link rel="icon" href="{{ 'assets/dist/images/favicons/favicon-16x16.png'|theme }}" sizes="16x16" type="image/png">
        <link rel="manifest" href="{{ 'assets/dist/images/favicons/manifest.json'|theme }}">
        <link rel="mask-icon" href="{{ 'assets/dist/images/favicons/safari-pinned-tab.svg'|theme }}" color="#563d7c">
        <link rel="icon" href="{{ 'assets/dist/images/favicons/favicon.ico'|theme }}">
        <meta name="msapplication-config" content="{{ 'assets/dist/images/favicons/browserconfig.xml'|theme }}">
        <meta name="theme-color" content="#563d7c">

        <!-- fonts -->
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <!-- styles -->
        <link href="{{ 'assets/dist/css/app.css'|theme }}" rel="stylesheet">
        {% styles %}

        <title>{% if this.page.url == '/' %} {% elseif this.page.title %}{{ this.page.title }} | {% else %}{{ this.theme.meta_title }} | {% endif %}{{ this.theme.website_name }}</title>
    </head>
    <body class="layout-{{ this.layout.id }} page-{{ this.page.id }}">
        <!-- @TODO Look into "display: flex" -->
        <!-- Navigation -->
        {%partial 'site/nav' %}

        <!-- Header -->
        {% partial 'site/header' %}

        <!-- Page content -->
        {% partial 'site/content' %}

        <!-- Footer -->
        {% partial 'site/footer' %}

        <!-- scripts -->
        <script src="{{ 'assets/dist/js/manifest.js'|theme }}"></script>
        <script src="{{ 'assets/dist/js/vendor.js'|theme }}"></script>
        <script src="{{ 'assets/dist/js/app.js'|theme }}"></script>
        <!--{ framework extras %}-->
        <!--{ scripts %}-->
    </body>

</html>

