description = "Default layout"
==
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% if attribute(this.page, 'meta_description') is defined %}{{ this.page.meta_description }}{% else %}{{ this.theme.meta_description }}{% endif %}">
        <meta name="keywords" content="{{ this.theme.meta_keywords }}">
        <meta name="title" content="{{ this.theme.meta_title }} {% if attribute(this.page, 'meta_title') is defined %}{{ this.page.meta_title }}{% else %}{{ this.page.title }}{% endif %}">
        <meta name="author" content="{{ this.theme.website_author }}">

        <!-- favicons.start -->
        <link rel="apple-touch-icon" href="{{ 'assets/dist/images/favicons/apple-touch-icon.png'|theme }}" sizes="180x180">
        <link rel="icon" href="{{ 'assets/dist/images/favicons/favicon-32x32.png'|theme }}" sizes="32x32" type="image/png">
        <link rel="icon" href="{{ 'assets/dist/images/favicons/favicon-16x16.png'|theme }}" sizes="16x16" type="image/png">
        <link rel="manifest" href="{{ 'assets/dist/images/favicons/manifest.json'|theme }}">
        <link rel="mask-icon" href="{{ 'assets/dist/images/favicons/safari-pinned-tab.svg'|theme }}" color="#563d7c">
        <link rel="icon" href="{{ 'assets/dist/images/favicons/favicon.ico'|theme }}">
        <meta name="msapplication-config" content="{{ 'assets/dist/images/favicons/browserconfig.xml'|theme }}">
        <meta name="theme-color" content="#563d7c">
        <!-- favicons.end -->

        <!-- styles -->
        <link href="{{ 'assets/dist/css/app.css'|theme }}" rel="stylesheet">
        {% styles %}

        <title>{% if this.page.url == '/' %} {% elseif this.page.title %}{{ this.page.title }} | {% endif %}{{ this.theme.website_name }}</title>
    </head>
    <body class="layout-{{ this.layout.id }} page-{{ this.page.id }}">
        <!-- @TODO Look into "display: flex" -->
        <!-- @TODO Decide on color theme, I think white-black-darkorange. -->
        <!-- @TODO Make logo and update favicons images and colors. -->

        <!-- navbar.start -->
        {%partial 'site/nav' %}
        <!-- navbar.end -->

        <!-- header.start -->
        {% partial 'site/header' %}
        <!-- header.end -->

        <!-- container.start -->
        {% partial 'site/content' %}
        <!-- container.end -->

        <!-- footer.start -->
        {% partial 'site/footer' %}
        <!-- footer.end -->

        <!-- scripts -->
        <script src="{{ 'assets/dist/js/manifest.js'|theme }}"></script>
        <script src="{{ 'assets/dist/js/vendor.js'|theme }}"></script>
        <script src="{{ 'assets/dist/js/app.js'|theme }}"></script>
        <!--{ framework extras %}-->
        {% scripts %}
    </body>
</html>

