description = "Site Footer"
==
<!--
    @TODO Make social links configurable (Maybe create plugin for them).
    @TODO Do I need <hr> here?
    @TODO Add div help links just before social links.
-->
<footer class="footer text-center pt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                {% partial 'social' round=1 %}
                <p class="copyright small text-center">Copyright &copy; {{ this.theme.website_name }} {{ "now"|date("Y") }}</p>
            </div>
        </div>
    </div>
</footer>
