description = "Site Header"
==
function onStart() {
    $this['welcomeHeader'] = $this->page->baseFileName === 'home';
}
==

{% if welcomeHeader %}
<header class="masthead text-center" data-navbar-trans="navbar-trans">
    <div class="content with-slider">
        <!-- overlay -->
        <div class="overlay"></div>
        <!-- slider -->
        <div id="headerWelcomeSlider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('https://picsum.photos/1920/1080?image=1025')"></div>
                <div class="carousel-item" style="background-image: url('https://picsum.photos/1920/1080?image=1062')"></div>
                <div class="carousel-item" style="background-image: url('https://picsum.photos/1920/1080?image=837')"></div>
                <div class="carousel-item" style="background-image: url('https://picsum.photos/1920/1080?image=659')"></div>
                <div class="carousel-item" style="background-image: url('https://picsum.photos/1920/1080?image=237')"></div>
            </div>
        </div>
        <!-- welcome -->
        <div class="welcome-caption">
            <div class="container">
                <h1 class="text">Рыжики</h1>
                <p class="text">Домашний приют для животных<p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="btn" role="button" href="{{ 'donate'|page }}">
                            <i class="fas fa-money-bill mr-2"></i>Помочь
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn" href="{{ 'adopt'|page }}">
                            <i class="fas fa-hand-holding-heart mr-2"></i>Взять питомца
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content with-title">
        <h1 class="mb-0 mx-auto page-title">{{ this.page.title }}</h1>
        <hr class="paw-dark">
    </div>
</header>
{% elseif this.page.title or this.page.title_alt %}
<header class="masthead text-center">
    <div class="content">
        <h1 class="mb-0 mx-auto page-title">{{ this.page.title_alt ?? this.page.title }}</h1>
        <hr class="paw-dark">
    </div>
</header>
{% endif %}
