description = "Site Navigation"
==

<!-- @TODO add Logo to "navbar-brand" -->
<!-- @TODO remove border for "dropdown-menu show" -->

<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ 'home'|page }}">
            <img src="{{ '/assets/dist/images/site/logo-white.svg'|theme }}" width="50" height="50" alt=""/>
        </a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
             <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ 'animals'|page }}">
                        <span>Наши животные</span>
                    </a>
                </li>
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Помочь</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownResources">
                        <a class="nav-link" href="{{ 'donation'|page }}"><span>Пожертвование</span></a>
                        <a class="nav-link" href="{{ 'adopt'|page }}"><span>Стать Опекуном</span></a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ 'news'|page }}">
                        <span>Новости</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ 'contacts'|page }}">
                        <span>Контакты</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ 'about'|page }}">
                        <span>О нас</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
